<div class="container" *ngIf="video">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{video.name}}</mat-card-title>
            <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <video mat-card-image [src]="videoSource" preload="auto" controls width="900" height="600">
        </video>
        <mat-card-content>
            {{video.description}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="toggleLike()">&hearts; {{numberOfLikes}}</button>
            <button mat-button (click)="toggleDislike()">&#x2639; {{numberOfDislikes}}</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="loadError">
    An error occurred while loading the video. Please try again later.
</div>

<div class="comment-section" *ngIf="video">
    <app-video-review-list [videoId]="video.id" [contentType]="video.contentType"></app-video-review-list>
</div>