.card {
    max-width: 400px;
    margin: 2px;
    display: inline-block;
}

.mat-card-button {
    padding: 0;
    max-width: 400px;
}

.mat-card-title {
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mat-card-content p {
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mat-card-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-left: 1px;
}